* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* header */
    --fc-bg-header: #8E9AAF;
    --fc-header-padding: #CBC0D3;
    --fc-ff-header: #FFFFFF;

    --ff-header: 'Staatliches', sans-serif;

    /* page */
    --page-width: 384px;

    /* aside */
    --fc-bg-aside: #EFF1FF;
    --fc-ff-aside: #23053A;

    --fc-bg-button: #FEEAFA;

    --ff-aside: 'Palanquin', sans-serif;

    }


.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    width: var(--page-width);
    
    background-color: var(--fc-bg-aside);    
}




header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background-color: var(--fc-bg-header);
    
}

header h1 {
    
    width: 100%;
    background-color: var(--fc-header-padding);
}



body aside  {
    padding: 0 32px 60px;
}

