* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* page */
    --page-width: 384px;

    /* header */
    --fc-bg-header: #8E9AAF;
    --fc-header-padding: #CBC0D3;
    --fc-ff-header: #FFFFFF;

    --ff-header-button: 'Staatliches', sans-serif;

    --m-img: 32px;

    --h-header-padding: 49px;
    --m-header-padding: 29px;
    --m-header-bottom: 29px;

    /* aside */
    --fc-bg-aside: #EFF1FF;
    --fc-button-aside: #4A4E69;

    --ff-aside: 'Palanquin', sans-serif;

    --m-p-top: 14px; 
    --m-p-bottom: 63px;
    --gap-img: 32px;
    
    /* button */

    --fc-bg-button: #E5E5E5;
    --w-button: 112px;
    --h-button: 35px;
    --p-button: 20px;
    --br-button: 20px;

    --fs-button: 20px;
    --ln-button: 34px;

    --top-right-button: 16px;

}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fc-bg-aside);   
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 279px;
    background-color: var(--fc-bg-header);
    position: relative;
    
}

header img {
    margin: var(--m-img) 0 var(--gap-img);
}

.desk {
    visibility: hidden;
    position: absolute;
}


header h1 {  
    width: 100%;
    height: var(--h-header-padding);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--fc-header-padding);

    font-family: var(--ff-header-button);
    font-size: 40px;
    line-height: 34px;
    letter-spacing: 5%;
    
    color: var(--fc-ff-header);
}

header p { 
    display: none;
}

body main  {
    display: flex;
    flex-direction: column;

    padding: 0 32px 60px;

}

body main p {
    margin: var(--m-p-top) 0 var(--m-p-bottom);
    text-align: center;

    font-family: var(--ff-aside);
    Size: 20px;
    Line-height: 15px;
}

.card {
    position: relative;
}

.card img {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.card span {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    width: var(--w-button);
    height: var(--h-button);
    

    background-color: var(--fc-bg-button);
    
    border-radius: var(--br-button);
}

.card h2 {
    position: absolute;
    z-index: 1;
    top: 17px;
    right: 39px;
    font-family: var(--ff-header-button);
    font-size: 20px;
    line-height: 34px;
    /* identical to box height, or 170% */

    letter-spacing: 0.05em;
    color: var(--fc-button-aside);

}

.main-page {
    display: none;
}

footer {
    display: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
    z-index: -1;
}


header {
    animation: topdown 700ms;
}

header h1 {
    animation: side 700ms 500ms reverse backwards;
}

main {
    animation: downtop 700ms 300ms reverse backwards;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    opacity: 0;
}

@keyframes downtop {
    100% {
        opacity: 0;
        transform: translateY(15px);
    }
}

@keyframes side {
    0% {
        opacity: 0;
        transform: translate(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




@media (min-width: 720px) {

    header {
        grid-area: h;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #8E9AAF;
        position: relative;
    }

    .mobile {
        visibility: inherit;
    }

    .desk {
        visibility: inherit;
        position: absolute;
    }
    

    header img {
        transition: transform 200ms;
        object-fit: cover;
      
    }



    header img:hover {
        transform: scale(1.1);
        transition-property: transform;
        transition-duration: 200ms;
        /* transition-timing-function: ease; */
    }


    header h1 {
        margin: 50px 0 32px;
        height: 70px;
        font-size: 48px;
        line-height: 34px;
        color: #FFFFFF;
    }

    header p {
        display: inherit;

        font-family: var(--ff-aside);
        font-size: 24px;
        line-height: 20px;

        width: 275px;
        height: 262px;
        left: 54px;
        top: 333px;

        color: #FFFFFF;

        text-align: center;
    }

    main { 
        grid-area: m;
        background: #FFFFFF;
        
        display: flex;
        flex-direction: column;
     }

    .main-page{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 446px;
        margin: 64px 0;
        gap: 36px;
        
    }

    .main-page img {
        transition: transform 200ms;
        object-fit: cover;
    }

    .main-page div:nth-child(3) {
        display: none;
    }

    .main-page img:hover {
        transform: scale(1.1);
        transition-property: transform;
        transition-duration: 200ms;
        /* transition-timing-function: ease; */
    }

    .card-desk { 
        display: flex;
        flex-direction: column;
        gap: 36px;   
    }
   
    .card {
        display: none;
    }

    main p {
        display: none;
    }

    footer {
       grid-area: f;
       /*background-color: aqua;*/
       opacity: 1;
       display: inherit;
      
    }

    footer p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-template-rows: 80vh 5vh 15vh;
        grid-template-areas: "h m"
                             "h f"
                             "h f";
    }

}


@media (min-width: 1146px) {

    header {
        grid-area: h;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #8E9AAF;
        position: relative;
    }

    .mobile {
        visibility: inherit;
    }

    .desk {
        visibility: inherit;
        position: absolute;
    }
    

    header img {
        transition: transform 200ms;
      
    }



    header img:hover {
        transform: scale(1.1);
        transition-property: transform;
        transition-duration: 200ms;
        /* transition-timing-function: ease; */
    }


    header h1 {
        margin: 50px 0 32px;
        height: 70px;
        font-size: 48px;
        line-height: 34px;
        color: #FFFFFF;
    }

    header p {
        display: inherit;

        font-family: var(--ff-aside);
        font-size: 24px;
        line-height: 20px;

        width: 275px;
        height: 262px;
        left: 54px;
        top: 333px;

        color: #FFFFFF;

        text-align: center;
    }

    main { 
        grid-area: m;
        background: #FFFFFF;
        
        display: flex;
        flex-direction: column;
     }

    .main-page{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 446px;
        margin: 64px 0;
        gap: 36px;
        
    }

    .main-page div:nth-child(3) {
        display: inherit;
    }

    .main-page img {
        transition: transform 200ms;
        object-fit: cover;
    }

    .main-page img:hover {
        transform: scale(1.1);
        transition-property: transform;
        transition-duration: 200ms;
        /* transition-timing-function: ease; */
    }

    .card-desk { 
        display: flex;
        flex-direction: column;
        gap: 36px;   
    }
   
    .card {
        display: none;
    }

    main p {
        display: none;
    }

    footer {
       grid-area: f;
       /*background-color: aqua;*/
       opacity: 1;
       display: inherit;
      
    }

    footer p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-template-rows: 80vh 5vh 15vh;
        grid-template-areas: "h m"
                             "h f"
                             "h f";
    }
}
